body {
    background-color: #ccc;
}

#logoimg {
    width: 41px;
    height: 28px;
}

.condiv {

    margin-top: 2px;
    height: 400px;

}

.seemyworksbtn {
    background-color: blue;
    color: white;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seemyworksbtn:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;

}

main {
    min-height: 300px;
    display: flex;

}

.herobox1 {
    width: 70%;

}

.herobox2 {
    padding-top: 15px;

}

.mainimg {

    height: 230px;
    width: 230px;
    border-radius: 200px;
}

.imgcircle {}

.contain-div {
    display: flex;
}

@media screen and (max-width: 900px) {
    .contain-div {
        display: flex;
        flex-direction: column-reverse;
    }

}